references/hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/Homo_sapiens_assembly38.dbsnp138.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/Homo_sapiens_assembly38.fasta.64.bwt.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/Homo_sapiens_assembly38.fasta.64.pac filter=lfs diff=lfs merge=lfs -text
references/hg38/Homo_sapiens_assembly38.fasta.64.sa.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/Homo_sapiens_assembly38.fasta.gz filter=lfs diff=lfs merge=lfs -text
*.simg filter=lfs diff=lfs merge=lfs -text
references/hg38/1000g_pon.hg38.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/1000g_pon.hg38.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
references/hg38/af-only-gnomad.chr1-9.hg38.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/af-only-gnomad.chr1-9.hg38.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
references/hg38/af-only-gnomad.chr10-22.hg38.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/af-only-gnomad.chr10-22.hg38.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
references/hg38/af-only-gnomad.chrXYM-alts.hg38.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/af-only-gnomad.chrXYM-alts.hg38.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
references/hg38/small_exac_common_3.hg38.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/small_exac_common_3.hg38.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
references/hg38/common_all_20180418.vcf.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/common_all_20180418.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
references/hg38/mappability_track_100m2.hg38.zip filter=lfs diff=lfs merge=lfs -text
references/hg38/Homo_sapiens_assembly38_autosome_sex_chroms/*.fa.gz filter=lfs diff=lfs merge=lfs -text
references/hg38/mappability_track_85m2.hg38.zip filter=lfs diff=lfs merge=lfs -text
references/hg38/mappability_track_150m2.hg38.zip filter=lfs diff=lfs merge=lfs -text
