*.simg filter=lfs diff=lfs merge=lfs -text
trimmomatic.fa filter=lfs diff=lfs merge=lfs -text
*.vcf.gz filter=lfs diff=lfs merge=lfs -text
*.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
*.interval_list filter=lfs diff=lfs merge=lfs -text
