nextflow
.nextflow
.nextflow.log*
.nextflow.pid*
nextflow_report.*html*
timeline_report.*.html*
trace.*.txt*
work
output
input
*.bam
*.f*q*
.DS_Store
references/.DS_Store
references/hg38/Homo_sapiens_assembly38.fasta
references/hg38/Homo_sapiens_assembly38.fasta.64.bwt
references/hg38/Homo_sapiens_assembly38.fasta.64.sa
references/hg38/af-only-gnomad.hg38.vcf.gz
references/hg38/af-only-gnomad.hg38.vcf.gz.tbi
*.csv