manifest {
    author = 'Patrick Blaney'
    homePage = 'https://github.com/pblaney/mgp1000'
    description = 'Myeloma Genome Project 1000 Bioinformatics Nextflow Pipeline'
    name = 'MGP1000'
}

report {
    enabled = true
    file = "nextflow_report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline_report.html"
}

profiles {

    // Profile for Preprocessing step of pipeline using Slurm executor
    preprocessing {
        
        singularity.enabled = true
        singularity.autoMounts = true
        process.module = "singularity/3.1"

        process.executor = 'slurm'
        process.clusterOptions = '--ntasks-per-node=1'

        process {

            withName: revertMappedBam_gatk {
                container = "containers/gatk-4.1.7.0.simg"
                memory = 80.GB
                time = '10d'
            }
            withName: bamToFastq_biobambam {
                container = "containers/biobambam-2.0.87.simg"
            }
            withName: fastqTrimming_trimmomatic {
                container = "containers/trimmomatic-036.simg"
                cpus = 4
                memory = 64.GB
            }
            withName: fastqQualityControlMetrics_fastqc {
                container = "containers/fastqc-0.11.9.simg"
            }
            withName: alignment_bwa {
                container = "containers/bwa-07.17-sambamba-0.7.1.simg"
                cpus = 8
                memory = 128.GB
            }
            withName: fixMateInformationAndSort_gatk {
                container = "containers/gatk-4.1.7.0.simg"
                memory = 80.GB
            }
            withName: markDuplicatesAndIndex_sambamba {
                container = "containers/sambamba-0.7.1.simg"
                cpus = 2
            }
            withName: downsampleBam_gatk {
                container = "container/gatk-4.1.7.0.simg"
                memory = 80.GB
            }
            withName: baseRecalibrator_gatk {
                container = "containers/gatk-4.1.7.0.simg"
                memory = 80.GB
            }
            withName: applyBqsr_gatk {
                container = "containers/gatk-4.1.7.0.simg"
                memory = 24.GB
            }
            withName: collectWgsMetrics_gatk {
                container = "containers/gatk-4.1.7.0.simg"
                memory = 80.GB
            }
            withName: collectGcBiasMetrics_gatk {
                container = "containers/gatk-4.1.7.0.simg"
                memory = 80.GB
            }
        }
    }

    // Profile for local testing of Preprocessing step in development environment using Docker, likely will require
    // configuration of the daemon's resources. This can be done within the 'Preferences' > 'Resources' tab of the 
    // Docker Desktop Dashboard for macOS
    dev_preprocessing {

        docker.enabled = true

        process {

            withName: revertMappedBam_gatk {
                container = "patrickblaneynyu/mgp1000:gatk-4.1.7.0"
                memory = 14.GB
            }
            withName: bamToFastq_biobambam {
                container = "patrickblaneynyu/mgp1000:biobambam-2.0.87"
            }
            withName: fastqTrimming_trimmomatic {
                container = "patrickblaneynyu/mgp1000:trimmomatic-0.36"
                cpus = 4
                memory = 14.GB
            }
            withName: fastqQualityControlMetrics_fastqc {
                container = "patrickblaneynyu/mgp1000:fastqc-0.11.9"
            }
            withName: alignment_bwa {
                container = "patrickblaneynyu/mgp1000:bwa-0.7.17-sambamba-0.7.1"
                cpus = 4
                memory = 14.GB
            }
            withName: fixMateInformationAndSort_gatk {
                container = "patrickblaneynyu/mgp1000:gatk-4.1.7.0"
                memory = 14.GB
            }
            withName: markDuplicatesAndIndex_sambamba {
                container = "patrickblaneynyu/mgp1000:sambamba-0.7.1"
                cpus = 2
            }
            withName: downsampleBam_gatk {
                container = "patrickblaneynyu/mgp1000:gatk-4.1.7.0"
                memory = 14.GB
            }
            withName: baseRecalibrator_gatk {
                container = "patrickblaneynyu/mgp1000:gatk-4.1.7.0"
                memory = 14.GB
            }
            withName: applyBqsr_gatk {
                container = "patrickblaneynyu/mgp1000:gatk-4.1.7.0"
                memory = 10.GB
            }
            withName: collectWgsMetrics_gatk {
                container = "patrickblaneynyu/mgp1000:gatk-4.1.7.0"
                memory = 14.GB
            }
            withName: collectGcBiasMetrics_gatk {
                container = "patrickblaneynyu/mgp1000:gatk-4.1.7.0"
                memory = 14.GB
            }
        }
    }
}
