manifest {
    author = 'Patrick Blaney'
    homePage = 'https://github.com/pblaney/mgp1000'
    description = 'Myeloma Genome Project 1000 Bioinformatics Nextflow Pipeline'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow_report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline_report.html"
}

profiles {
    docker {
        docker.enabled = true
        process.$fastqc.container = "patrickblaneynyu/mgp1000:fastqc-0.11.9"
    }



    // ###### WORK IN PROGRESS ######

    base {
        
        // Singularity container configuration
        params.containerDir = "/home/mgp1000/containers"
        singularity.enabled = true

        // Set container image for each process in pipeline
        process {
            withName: fastqc {
                container = "${params.containerDir}/"

            }
        }

    }

    // #############################



}