// #################################################### \\
// ~~~~~~~~~~~~~~~~ LSF CONFIGURATION ~~~~~~~~~~~~~~~~~ \\

executor {
    name = 'lsf'
    perTaskReserve = false
    perJobMemLimit = true
    queueSize = "${params.queue_size}"
    queueStatInterval = '3 min'
    exitReadTimeout = '60 min'
    submitRateLimit = '10 sec'
}

// Profiles for individual modules of the MGP1000: Preprocessing, Germline, and Somatic
profiles {
    
    // ############################################ \\
    // ~~~~~~~~~~ PREPROCESSING PROFILE ~~~~~~~~~~~ \\
    preprocessing {
        singularity.enabled = true
        singularity.autoMounts = true

        process {
            executor = 'lsf'
            clusterOptions = '-P test'
            errorStrategy = 'ignore'

            withName: mergeLaneSplitFastqs_mergelane {
                queue = 'general'
                container = "containers/base.simg"
                cpus = 1
                memory = 2.GB
                time = 3.h
            }
            withName: gatherInputFastqs_fastqgatherer {
                queue = 'general'
                container = "containers/base.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: revertMappedBam_gatk {
                queue = 'bigmem'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 1
                memory = 16.GB
                time = 96.h
            }
            withName: bamToFastq_biobambam {
                queue = 'general'
                container = "containers/biobambam-2.0.87.simg"
                cpus = 1
                memory = 256.MB
                time = 96.h
            }
            withName: fastqTrimming_trimmomatic {
                queue = 'general'
                container = "containers/trimmomatic-0.36.simg"
                cpus = 12
                memory = { 2.GB * task.cpus }
                time = 48.h
            }
            withName: fastqQualityControlMetrics_fastqc {
                queue = 'general'
                container = "containers/fastqc-0.11.9.simg"
                cpus = 1
                memory = 4.GB
                time = 24.h
            }
            withName: alignment_bwa {
                queue = 'parallel'
                container = "containers/bwa-0.7.17-sambamba-0.7.1.simg"
                cpus = 16
                memory = { 16.GB * task.cpus }
                time = 96.h
                clusterOptions = "span[ptile=16]"
            }
            withName: postAlignmentFlagstats_sambamba {
                queue = 'general'
                container = "containers/sambamba-0.7.1.simg"
                cpus = 4
                memory = { 1.GB * task.cpus }
                time = 3.h
            }
            withName: fixMateInformationAndSort_gatk {
                queue = 'bigmem'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 2
                memory = { 16.GB * task.cpus }
                time = 48.h
            }
            withName: markDuplicatesAndIndex_sambamba {
                queue = 'bigmem'
                container = "containers/sambamba-0.7.1.simg"
                cpus = 4
                memory = { 16.GB * task.cpus }
                time = 48.h
            }
            withName: localAndGlobalRealignment_abra2 {
                queue = 'general'
                container = "containers/abra-2.23.simg"
                cpus = 6
                memory = { 8.GB * task.cpus }
                time = 24.h
            }
            withName: downsampleBam_gatk {
                queue = 'bigmem'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 2
                memory = { 16.GB * task.cpus }
                time = 24.h
            }
            withName: baseRecalibrator_gatk {
                queue = 'general'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
            withName: applyBqsr_gatk {
                queue = 'general'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 2
                memory = { 8.GB * task.cpus }
                time = 24.h
            }
            withName: collectWgsMetrics_gatk {
                queue = 'general'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
            withName: collectGcBiasMetrics_gatk {
                queue = 'general'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
            withName: collectHsMetrics_gatk {
                queue = 'general'
                container = "containers/gatk-4.1.7.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
        }
    }




}

// #################################################### \\