// #################################################### \\
// ~~~~~~~~~~~~~~~~ LSF CONFIGURATION ~~~~~~~~~~~~~~~~~ \\

executor {
    name = 'lsf'
    perTaskReserve = false
    perJobMemLimit = true
    queueSize = "${params.queue_size}"
    queueStatInterval = '3 min'
    exitReadTimeout = '60 min'
    submitRateLimit = '10 sec'
}

// Profiles for individual modules of the MGP1000: Preprocessing, Germline, and Somatic
profiles {
    
    // ############################################ \\
    // ~~~~~~~~~~ PREPROCESSING PROFILE ~~~~~~~~~~~ \\
    preprocessing {
        singularity.enabled = true
        singularity.autoMounts = true

        process {
            executor = 'lsf'
            clusterOptions = '-P krd'
            errorStrategy = { task.exitStatus in [130,137,140] ? 'retry' : 'finish' }
            maxRetries = 2

            withName: mergeLaneSplitFastqs_mergelane {
                queue = 'sccc3'
                container = "containers/base-2.0.simg"
                cpus = 1
                memory = 2.GB
                time = 3.h
            }
            withName: gatherInputFastqs_fastqgatherer {
                queue = 'sccc3'
                container = "containers/base-2.0.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: revertMappedBam_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 8
                memory = { 6.GB * task.cpus }
                time = 48.h
            }
            withName: bamToFastq_biobambam {
                queue = 'sccc3'
                container = "containers/mgpconda-1.0.simg"
                cpus = 1
                memory = 256.MB
                time = 72.h
            }
            withName: fastqTrimming_trimmomatic {
                queue = 'sccc3'
                container = "containers/mgpconda-1.0.simg"
                cpus = 12
                memory = { 2.GB * task.cpus }
                time = 48.h
            }
            withName: fastqQualityControlMetrics_fastqc {
                queue = 'sccc3'
                container = "containers/mgpconda-1.0.simg"
                cpus = 1
                memory = 4.GB
                time = 24.h
            }
            withName: alignment_bwa {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 16
                memory = { 24.GB + 6.GB * task.cpus }
                time = 96.h
            }
            withName: alignmentPostprocessing_samtools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 16
                memory = { 6.GB * task.cpus }
                time = 24.h
            }
            withName: localAndGlobalRealignment_abra2 {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 6
                memory = { 4.GB + 2.GB * task.cpus }
                time = 24.h
            }
            withName: downsampleBam_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 2
                memory = { 4.GB + 8.GB * task.cpus }
                time = 24.h
            }
            withName: baseRecalibrator_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 8
                memory = { 6.GB * task.cpus }
                time = 24.h
            }
            withName: applyBqsr_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 8
                memory = { 4.GB + 4.GB * task.cpus }
                time = 24.h
            }
            withName: alignmentQualityControl_alfred {
                queue = 'sccc3'
                container = "containers/alfred-0.2.7.simg"
                cpus = 1
                memory = 16.GB
                time = 8.h
            }
        }
    }

    // ############################################ \\
    // ~~~~~~~~~~~~~ GERMLINE PROFILE ~~~~~~~~~~~~~ \\
    germline {
        singularity.enabled = true
        singularity.autoMounts = true

        process {
            executor = 'lsf'
            clusterOptions = '-P krd'
            errorStrategy = { task.exitStatus in [130,137,140] ? 'retry' : 'finish' }
            maxRetries = 2

            withName: snpAndIndelCalling_deepvariant {
                queue = 'sccc3'
                container = "containers/deepvariant-1.5.0.simg"
                cpus = 8
                memory = { 8.GB + 2.GB * task.cpus }
                time = 3.h
            }
            withName: mergeAndSortVcfs_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 8.GB
                time = 30.m
            }
            withName: variantFilter_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 12.GB
                time = 30.m
            }
            withName: alleleFrequencyEstimation_angsd {
                queue = 'sccc3'
                container = "containers/angsd-0.941.simg"
                cpus = 2
                memory = { 32.GB + 8.GB * task.cpus }
                time = 24.h
            }
            withName: ancestryEstimation_fastngsadmix {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
        }
    }

    // ############################################ \\
    // ~~~~~~~~~~~~~~ SOMATIC PROFILE ~~~~~~~~~~~~~ \\
    somatic {
        singularity.enabled = true
        singularity.autoMounts = true

        process {
            executor = 'lsf'
            clusterOptions = '-P krd'
            errorStrategy = { task.exitStatus in [130,137,140] ? 'retry' : 'finish' }
            maxRetries = 2

            withName: identifySampleSex_allelecount {
                queue = 'sccc3'
                container = "containers/allelecount-4.2.1.simg"
                cpus = 1
                memory = 256.MB
                time = 30.m
            }
            withName: downloadBattenbergReferences_battenberg {
                queue = 'sccc3'
                container = "containers/base-2.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
            withName: cnvCalling_battenberg {
                queue = 'sccc3'
                container = "containers/battenberg-2.2.9.simg"
                cpus = 6
                memory = { 72.GB + 8.GB * task.cpus }
                time = 24.h
            }
            withName: fitCnvProfileExtract_devgru {
                queue = 'sccc3'
                container = "containers/devgru-0.0.0.9000.simg"
                cpus = 12
                memory = 34.GB
                time = 3.h
            }
            withName: consensusCnvPrep_battenberg {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: snpPileup_facets {
                queue = 'sccc3'
                container = "containers/iarc-facets-2.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
            withName: cnvCalling_facets {
                queue = 'sccc3'
                container = "containers/iarc-facets-2.0.simg"
                cpus = 1
                memory = 28.GB
                time = 3.h
            }
            withName: consensusCnvPrep_facets {
                queue = 'sccc3'
                container = "containers/iarc-facets-2.0.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: svAndIndelCalling_manta {
                queue = 'sccc3'
                container = "containers/manta-1.6.0.simg"
                cpus = 12
                memory = { 12.GB + 1.GB * task.cpus }
                time = 48.h
            }
            withName: filterAndPostprocessMantaVcf_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: falsePostiveSvFilteringManta_duphold {
                queue = 'sccc3'
                container = "containers/duphold-0.2.3.simg"
                cpus = 4
                memory = 4.GB
                time = 3.h
            }
            withName: snvAndIndelCalling_strelka {
                queue = 'sccc3'
                container = "containers/strelka-2.9.10.simg"
                cpus = 8
                memory = { 2.GB + 2.GB * task.cpus }
                time = 24.h
            }
            withName: splitMultiallelicAndLeftNormalizeStrelkaVcf_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 4
                memory = 256.MB
                time = 3.h
            }
            withName: svAndIndelCalling_svaba {
                queue = 'sccc3'
                container = "containers/svaba-1.1.3.simg"
                cpus = 16
                memory = { 12.GB + 1.GB * task.cpus }
                time = 24.h
            }
            withName: filterAndPostprocessSvabaVcf_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: leftNormalizeSvabaVcf_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 4
                memory = 256.MB
                time = 3.h
            }
            withName: falsePostiveSvFilteringSvaba_duphold {
                queue = 'sccc3'
                container = "containers/duphold-0.2.3.simg"
                cpus = 4
                memory = 4.GB
                time = 3.h
            }
            withName: svAndIndelCalling_delly {
                queue = 'sccc3'
                container = "containers/delly-1.1.6.simg"
                cpus = 2
                memory = { 18.GB + 8.GB * task.cpus }
                time = 72.h
            }
            withName: filterAndPostprocessDellyVcf_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: falsePostiveSvFilteringDelly_duphold {
                queue = 'sccc3'
                container = "containers/duphold-0.2.3.simg"
                cpus = 4
                memory = 4.GB
                time = 3.h
            }
            withName: igRearrangementsAndTranslocations_igcaller {
                queue = 'sccc3'
                container = "containers/igcaller-1.2.1.simg"
                cpus = 1
                memory = 20.GB
                time = 24.h
            }
            withName: snvAndIndelCalling_varscan {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 12.GB
                time = 24.h
            }
            withName: concatenateVarscanPerChromosomeVcfs_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 4
                memory = 256.MB
                time = 3.h
            }
            withName: filterRawSnvAndIndels_varscan {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 8.GB
                time = 3.h
            }
            withName: bamReadcountForVarscanFpFilter_bamreadcount {
                queue = 'sccc3'
                container = "containers/bam-readcount-0.8.simg"
                cpus = 2
                memory = { 8.GB + 3.GB * task.cpus }
                time = 13.h
            }
            withName: falsePositivefilterSnvAndIndels_varscan {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 12.GB
                time = 24.h
            }
            withName: splitMultiallelicAndLeftNormalizeVarscanVcf_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 4
                memory = 256.MB
                time = 3.h
            }
            withName: mutect2GnomadReferenceVcfPrep_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 4
                memory = 2.GB
                time = 24.h
            }
            withName: snvAndIndelCalling_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 2
                memory = { 8.GB + 4.GB * task.cpus }
                time = 48.h
            }
            withName: mergeAndSortMutect2Vcfs_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 18.GB
                time = 3.h
            }
            withName: mergeMutect2StatsForFiltering_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 12.GB
                time = 3.h
            }
            withName: pileupSummariesForMutect2Contamination_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 12.GB
                time = 13.h
            }
            withName: gatherTumorPileupSummariesForMutect2Contamination_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 12.GB
                time = 3.h
            }
            withName: gatherNormalPileupSummariesForMutect2Contamination_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 12.GB
                time = 3.h
            }
            withName: mutect2ContaminationCalculation_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 12.GB
                time = 3.h
            }
            withName: mutect2VariantFiltration_gatk {
                queue = 'sccc3'
                container = "containers/gatk-4.3.0.0.simg"
                cpus = 1
                memory = 12.GB
                time = 24.h
            }
            withName: splitMultiallelicAndLeftNormalizeMutect2Vcf_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 4
                memory = 256.MB
                time = 3.h
            }
            withName: splitMutectSnvsAndIndelsForConsensus_bcftools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 4
                memory = 256.MB
                time = 3.h
            }
            withName: bamPileupForConpair_conpair {
                queue = 'sccc3'
                container = "containers/conpair-0.2.simg"
                cpus = 1
                memory = 1.GB
                time = 3.h
            }
            withName: concordanceAndContaminationEstimation_conpair {
                queue = 'sccc3'
                container = "containers/conpair-0.2.simg"
                cpus = 1
                memory = 1.GB
                time = 3.h
            }
            withName: prepGermlineBedForCaveman_bedops {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 256.MB
                time = 30.m
            }
            withName: setup_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = 256.MB
                time = 30.m
            }
            withName: split_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = 8.GB
                time = 2.h
            }
            withName: splitConcat_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = 1.GB
                time = 30.m
            }
            withName: mstep_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = { 16.GB + 20.GB * task.attempt }
                time = 1.h
            }
            withName: merge_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = 256.MB
                time = 1.h
            }
            withName: snvCalling_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = { 16.GB + 20.GB * task.attempt }
                time = 1.h
            }
            withName: flag_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = { 1.GB * task.attempt }
                time = 1.h
            }
            withName: mergeResults_caveman {
                queue = 'sccc3'
                container = "containers/cgp-caveman-1.18.3.simg"
                cpus = 1
                memory = 256.MB
                time = 3.h
            }
            withName: unionAndConsensusSnvCalls_devgru {
                queue = 'sccc3'
                container = "containers/devgru-0.0.0.9000.simg"
                cpus = 8
                memory = 28.GB
                time = 1.h
            }
            withName: unionAndConsensusIndelCalls_devgru {
                queue = 'sccc3'
                container = "containers/devgru-0.0.0.9000.simg"
                cpus = 8
                memory = 28.GB
                time = 1.h
            }
            withName: twoWayMergeAndGenerateConsensusCnvCalls_bedtools {
                queue = 'sccc3'
                container = "containers/mgpcore-1.0.simg"
                cpus = 1
                memory = 1.GB
                time = 1.h
            }
            withName: mergeAndGenerateConsensusSvCalls_ggnome {
                queue = 'sccc3'
                container = "containers/ggnome-1.1.simg"
                cpus = 1
                memory = 12.GB
                time = 2.h
            }
            withName: binReadCoverageInNormal_fragcounter {
                queue = 'sccc3'
                container = "containers/fragcounter-0.0.0.9000.simg"
                cpus = 1
                memory = 24.GB
                time = 13.h
            }
            withName: binReadCoverageInTumor_fragcounter {
                queue = 'sccc3'
                container = "containers/fragcounter-0.0.0.9000.simg"
                cpus = 1
                memory = 24.GB
                time = 13.h
            }
            withName: snpPileup_fragcounter {
                queue = 'sccc3'
                container = "containers/iarc-facets-2.0.simg"
                cpus = 1
                memory = 8.GB
                time = 24.h
            }
            withName: telomereLengthEstimation_telomerecat {
                queue = 'sccc3'
                container = "containers/telomerecat-3.4.0.simg"
                cpus = 8
                memory = { 2.GB + 1.GB * task.cpus }
                time = 24.h
            }
            withName: telomereEstimation_telomerehunter {
                queue = 'sccc3'
                container = "containers/telomerehunter-1.1.0.simg"
                cpus = 2
                memory = { 2.GB + 1.GB * task.cpus }
                time = 24.h
            }
        }
    }
}

// #################################################### \\